.clr {
    color: #0C2E62;
}

.clr:hover {
    color: #E77E49;
}

.bd {
    scroll-behavior: smooth;
    background-color: #FAFAFA;
}

.bt-tog {
    color: #E77E49;
}

.ac {
    font-size: 16px;
    font-weight: 500;
    color: #E77E49;
    background-color: rgba(241, 241, 241, 0.8);
    border-radius: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.ac:hover {
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #E77E49;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.cont1 {
    background-color: #0C2E62;
}

.gs {
    align-items: center;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #E77E49;
    border-radius: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.gs img {
    margin-left: 10px;
}

.gs:hover {
    color: #E77E49;
    background-color: #0C2E62;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.lm {
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.lm:hover {
    font-size: 16px;
    font-weight: 500;
    color: #0C2E62;
    background-color: #E77E49;
    border-radius: 1rem;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.ser {
    color: #E77E49;
}

.ser2 {
    color: #0C2E62;
    font-weight: 700;
}

.txt-ser {
    color: #0C2E62;
    font-weight: 600;
    font-size: 23px;
    margin-top: 20px;
}

.txt2-ser {
    color: #848484;
    font-weight: 400;
    font-size: 17px;
}

.btn-serv {
    font-size: 16px;
    font-weight: 500;
    color: #E77E49;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    border-radius: 12px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btn-serv:hover {
    color: white;
    background-color: #E77E49;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.lm2 {
    font-size: 16px;
    font-weight: 500;
    color: #0C2E62;
    background-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.lm2:hover {
    font-size: 16px;
    font-weight: 500;
    color: #E77E49;
    background-color: #0C2E62;
    border-radius: 1rem;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.bs {
    color: #E77E49;
}

.ci {
    color: #0C2E62;
    font-weight: 700;
}

.txt-bs {
    margin-top: 35px;
    line-height: 30px;
    width: 350px;
    color: #848484;
    font-weight: 400;
    font-size: 17px;
}

.tm {
    width: 400px;
    margin-top: 15px;
    color: #0C2E62;
}

.txt-tm {
    margin-top: 35px;
    width: 350px;
    line-height: 35px;
    color: #848484;
    font-weight: 400;
    font-size: 17px;
}

.cs {
    font-size: 36px;
    color: #0C2E62;
    font-weight: 700;
}

.card-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle {
    color: #E77E49;
}

.txt-cs {
    color: #0C2E62;
    font-weight: 600;
    font-size: 23px;
}

.txt2-cs {
    color: #848484;
    font-weight: 400;
    font-size: 17px;
}

.txt3-cs {
    color: #848484;
    font-weight: 400;
    font-size: 17px;
}

.ftr-up {
    margin-top: 7rem;
    width: 100%;
    background-color: #0C2E62;
    padding-top: 2rem;
    padding-bottom: 5rem;
    text-align: center;
}

.ftr-down {
    background-color: #0A2753;
}

.menu-hidden {
    display: none;
}

.menu-visible {
    display: block;
}

.navbar-default {
    background-color: white;
}

.navbar-scrolled {
    background-color: rgba(226, 226, 226, 0.9);
    transition: background-color 0.4s ease-in-out;
}
.navbar-scrolled .ac {
    color: white;
    background-color: #E77E49;
}

.navbar-scrolled .clr {
    color: #E77E49;
}

.navbar-scrolled .ac:hover {
    background-color: #E77E49;
    color: #0C2E62;
      }

.navbar-scrolled .clr:hover {
    color: #0C2E62;
      }

.relative-container {
    position: relative;
}

.overlay-image {
    position: absolute;
    top: 90%;
    left: 30px;
    transform: translateY(-50%);
    z-index: 10; 
    max-width: 85%;
}

.full-left {
    margin-left: -8rem; /* Adjust this value to bring the image to the far left */
}